<form ng-submit="save()">
  <p>
    <input type="text" name="title" id="note_title" placeholder="title your note" ng-model="note.title">
  </p>
  <p>
    <textarea name="body_html" placeholder="Just start typing..." ng-model="note.body_html"></textarea>
  </p>
  <div class="form-actions">
    <input type="submit" name="commit" value="Save" class="btn btn-default">
    <a class="btn" ng-click="delete()">
      <i class="fa fa-trash-o"></i>
    </a>
  </div>
</li>
</form>
<p>
  {{ note.body_text }}
</p>
<p>
  {{ note.body_html }}
</p>
